body{
    background-color: lightgrey;
    overflow: hidden;
  }
  #main-container{
    margin: 20px auto;
    max-width: 900px;
    background-color: grey;
    height: 100%;
    overflow: hidden;
  }
  h3{
      border: 1px solid;
      margin: 0px;
      width: 70px;
      float:right;
      text-align: center;
  }
  h3.uno{
      background-color: rgb(184, 116, 53);
  }
  h3.dos{
    background-color: rgb(216, 54, 54);
}
h3.tres{
    background-color: rgb(226, 238, 160);
}
  .block{
    background-color: steelblue;
    width: 31.33%;
    height: 100px;
    float: left;
    margin: 1%;
    box-sizing:(border-box);

  }

    @media screen and (max-width:640px)
    {.block {
      background-color: blue;
      width: 47.9%;
    }
      :first-child{
        width: 98%;
        background-color: red;
        clear: both;
      }
      :last-child{
        width: 98%;
        background-color: darkgreen;
        clear: both;
      } 
    @media screen and (max-width:320px)
      {.block{
        width: 98%;
      } }
  } 